{% extends 'base-shop.html.twig' %}

{% block title %}Shop home{% endblock %}

{% block body %}

    <header class="header">
        {{ include('ui/shop/components/navbar.html.twig') }}
        {{ react_component('Banner', {'props': { "urlBcg": asset('build/images/shop/bcg.jpg'), "path": path('shop_home')} , 'rendering': 'client_side' } ) }}
    </header>
    <section id="featured py-5">
        <div class="container">
            <div class="row my-3">
                <div class="col-10 mx-auto text-center">
                    <h1 class="text-uppercase"> featured products</h1>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequuntur corporis dolore,
                        eaque enim excepturi harum hic illo laudantium non numquam,
                        quo quod quos ullam.
                        Atque dicta eos esse fugit iste?
                    </p>
                </div>
            </div>
            <div class="row">
                {% for p in products %}
                    <div class="col-10 col-md-6 col-lg-3 mx-auto text-center">
                      <img src="{{ uploaded_asset(p.getImagePath) }}">

                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
{% endblock %}
