<div class="banner d-flex align-items-center pl-3 pl-lg-5">
    <div>
        <h1 class="text-capitalize text-slanted mb-0">minimalist</h1>
        <h1 class="text-uppercase font-weight-bold">interior style</h1>
        <a href="#products" class="btn btn-yellow"> view Collection</a>
    </div>
</div>