<nav class="navbar navbar-expand-lg navbar-light">
    <a href="{{ path('shop_home', {  }) }}" class="navbar-brand">
        <img src="{{asset('build/images/shop/icon.png') }}" height="30px" width="30px">
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
        <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="myNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item mx-2 nav--active">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#" class="nav-link">Products</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#" class="nav-link">Single products</a>
            </li>
            <li class="nav-item mx-2">
                <a href="#" class="nav-link">Store</a>
            </li>
        </ul>
    </div>

    <div class="navbar--icons d-none d-lg-flex">
        <div class="navbar--icon mx-2">
            <i class="fas fa-search"></i>
        </div>
        <div class="navbar--icon mx-2 navbar-cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <div class="cart--items">200</div>
        </div>
    </div>

</nav>