{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <header id="header">
        {{ include('ui/category/components/navbar.html.twig') }}
    </header>

    <!-- cart -->
    <div class="cart" id="cart">
        <!-- cart item -->
        <div class="cart-item d-flex justify-content-between text-capitalize my-3">
            <img src="img-cart/cake-2.jpeg" class="img-fluid rounded-circle" id="item-img" alt="">
            <div class="item-text">
                <p id="cart-item-title" class="font-weight-bold mb-0">
                    cart item</p>
                <span>$</span>
                <span id="cart-item-price" class="cart-item-price mb-0">10.99</span>

            </div>
            <a href="#" id="cart-item-remove" class="cart-item-remove">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <!-- end of cart item -->
        <!-- cart item -->
        <div class="cart-item d-flex justify-content-between text-capitalize my-3">
            <img src="img-cart/cupcake-1.jpeg" class="img-fluid rounded-circle" id="item-img" alt="">
            <div class="item-text">
                <p id="cart-item-title" class="font-weight-bold mb-0">
                    cart item</p>
                <span>$</span>
                <span id="cart-item-price" class="cart-item-price mb-0">10.99</span>

            </div>
            <a href="#" id="cart-item-remove" class="cart-item-remove">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <!-- end of cart item -->
        <!-- total -->
        <div class="cart-total-container d-flex justify-content-around text-capitalize mt-5">
            <h5>total</h5>
            <h5>$ <strong id="cart-total" class="font-weight-bold">10.00</strong></h5>
        </div>
        <!-- end of total -->
        <!-- cart buttons -->
        <div class="cart-buttons-container mt-3 d-flex justify-content-between">
            <a href="#" id="clear-cart" class="btn btn-black text-uppercase">clear cart</a>
            <a href="#" id="clear-cart" class="btn btn-pink text-uppercase">checkout</a>
        </div>
    </div>

    <section id="store" class="store py-5">
        <div class="container-fluid">
            <!-- section title -->
            <div class="row">
                <div class="col-10 mx-auto col-sm-6 text-center">
                    <h1 class="text-capitalize">our <strong class="banner-title">store</strong></h1>
                </div>
            </div>

            <!-- fitlers buttons -->
            {{ react_component('CategoriesFilters', {'props': props , 'rendering': 'client_side' } ) }}
            <!-- end of filters buttons -->
        </div>
        <div class="container">
            <!-- store items -->
            {{ react_component('ProductsList', {'props': {categoryId: categoryId}, 'rendering': 'client_side'} ) }}
            <!-- end of store items -->
        </div>
    </section>
    
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12">
                <statistic-dashboard data-chart="{{ chart }}" class="row flex-row align-items-center justify-content-center"/>
            </div>
        </div>
    </div>

{% endblock %}

