{% extends 'base.html.twig' %}

{% block title %}WorkFlow{% endblock %}

{% block body %}

    <section id="featured">
        <div class="container max-viewport">
            <div class="row max-height-login justify-content-center align-items-center">




                <div class="col-10 mx-auto text-center">
                    <div class="card border border-danger shadow-lg">
                        <div class="card-header border-bottom border-danger bg-info">
                            Toutes les demandes
                        </div>
                        <div class="card-body">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
